<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
</head>
<body>
    <h1>Probando plantilla de inicio</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, recusandae odio? Iusto, officiis assumenda quia sapiente, tenetur corporis nihil quo voluptates fugiat veritatis ducimus, iure nostrum commodi asperiores ratione culpa!</p>   
</body>
</html>